<footer>
    <nav class="navfooter">
        <ul class="n1">
            <li><a href="/extras">EMPRESA</a></li>
            <li><a href="/extras">BOLSA DE TRABAJO</a></li>
            <li><a href="/extras">AVISO LEGAL Y PRIVACIDAD</a></li>
            <li><a href="/extras">CONFIGURACIÓN DE COOKIES</a></li>
            <li><a href="/extras">MAPA DEL SITIO</a></li>
            <li><a href="/extras">NEWLESTER</a></li>
        </ul>
        <ul class="n2">
            <li><a href="/socialMedia"><i class="fab fa-facebook-f"></i></a></li>
            <li><a href="/socialMedia"><i class="fab fa-instagram"></i></a></li>
            <li><a href="/socialMedia"><i class="fab fa-twitter"></i></a></li>
            <li><a href="/socialMedia"><i class="fab fa-youtube"></i></a></li>
            <li><a href="/socialMedia"><i class="fab fa-linkedin-in"></i></a></li>
            <li><a href="/socialMedia"><i class="far fa-comments"></i></a></li>
        </ul>
    </nav>

    <p>
        Los valores de consumos y emisiones presentes en el sitio web se refieren a su IP geográfica. Dicho valor
        podría diferir de la realidad si navega a través de una VPN o si la ubicación de su proveedor de Internet no
        es exacta. Si cree que no está geolocalizado correctamente, contacte con su concesionario de referencia para
        obtener información válida en su territorio sobre consumos y emisiones.
    </p>

    <p class="f2">
        Copyright © 2021 Sports Car Dealers es una sociedad unipersonal de Grupo 7 Digital House.

        Todos los derechos reservados. Núm. IVA IT xxxxxxxxxx</p>
</footer>