<header>
    <div class="container">
        <a class="logo" href="/">
            <img src="/images/logozebrablanco.png" alt="">
            <!-- <h2 class="logo">ZEBRA</h2> -->
        </a>
        <nav class="navigation">
            <ul>
                <li><a href="/">INICIO</a></li>
                <li><a href="/products">PRODUCTOS</a></li>
                <li><a href="/products/shoppingCar">CARRITO</a></li>
                <li><a href="/users/login">INGRESA</a></li>
                <li><a href="/contact"><i class="fas fa-envelope-open-text"></i></a></li>
                <li><a href="/products/search"><i class="fas fa-search"></i></a></li>
                <li><a href="/burger"><i class="fas fa-bars"></i></a></li>
            </ul>
        </nav>
    </div>
</header>