<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/login.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
    <link rel="stylesheet" href="/stylesheets/footer.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">

    <title>Signup</title>
</head>

<body>
   
    <div class="container products-wrapper">
        <div class="row">
            <div class="col-12">
                <h2 class="products-title">Formulario de creación de usuarios</h2>
            </div>
        </div>
        <div class="col-12">
            <form action="/users/signup" method="post" enctype="multipart/form-data">
                <!-- el multiform es indispensable para que el formulario pueda enviar archivos -->
                <div class="row product-detail">
                    <div class="col-12 col-md-6">
                        <label for="Nombre" class="form-label">Nombre:</label>
                        <input type="text" id="name" name="name" placeholder="Ej: Zapatillas Reebok" class="form-input">
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="Apellido" class="form-label">Apellido</label>
                        <input type="text" id="price" name="price" placeholder="Ej: 5678" class="form-input">
                    </div>
                    <div class="col-12 col-md-6">
                        <label for="Correo" class="form-label">Correo:</label>
                        <input type="email" id="discount" name="discount" placeholder="Ej: 15" class="form-input">
                    </div>
                    <div class="col-12">
                        <label for="Contrasena" class="form-label">Contraseña:</label>
                        <textarea name="password" id="description" class="form-input"></textarea>
                    </div>
                    <!-- <div class="col-12">
                        <label for="image" class="form-label">Imagen</label>
                        <input type="file" accept=".png,.jpg" name="image" class="form-control" id="image" required />
                    </div> -->
                    <div class="col-12">
                        <button type="submit" class="buy-now-button">Registrarme</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

    <footer>
        <%- include('partials/footer.ejs') %>
    </footer>

</body>

</html>
